* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Index */
body {
  font-family: "Montserrat", sans-serif;
  background-color: #3D4F43;
}

#grilla {
  display: grid;
  grid-template-areas: "main" "descripcionNarrar" "fotosIndex" "footer";
  grid-template-rows: auto auto auto auto;
  grid-template-columns: 1fr;
}

header {
  font-size: large;
  color: black;
  text-align: center;
  background-color: #f5ebe0;
  height: 75px;
  width: 100%;
  margin-bottom: 0;
}

header a {
  text-decoration: none;
  color: black;
  margin-left: 2rem;
}

.contenidoPrincipal {
  grid-area: main;
  background-color: #3D4F43;
  color: #f5ebe0;
  padding: 1rem;
  margin: 0;
}

.logo img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 150px;
}

.titulo h1 {
  text-align: center;
  margin-top: 15px;
  letter-spacing: 0.6rem;
}

.descripcionNarrar {
  grid-area: descripcionNarrar;
  text-align: center;
  padding: 1rem;
  padding-top: 2.5rem;
  background-color: #3D4F43;
  font-size: 25px;
  color: #f5ebe0;
}

.fotosIndex {
  grid-area: fotosIndex;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
  gap: 1rem;
  background-color: #f5ebe0;
  height: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.fotosIndex img {
  width: 46%;
  height: auto;
  margin-left: 26%;
}

#pie {
  grid-area: footer;
  background-color: #3D4F43;
  color: #f5ebe0;
  text-align: left;
  height: 50px;
  font-size: medium;
  padding-top: 15px;
}

/* About Me */
.sobreMi {
  display: grid;
  grid-template-areas: " h1 h1 " " videoMicaela p";
  grid-template-columns: 1fr 1fr;
  grid-row: auto auto;
  background-color: #3D4F43;
  color: #f5ebe0;
  column-gap: 15px;
  row-gap: 2px;
}

.sobreMiTitulo {
  grid-area: h1;
  font-size: 30px;
  grid-area: h1;
  padding-left: 20px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
}

.sobreMiDescripcion {
  grid-area: p;
  color: #3d4f43;
  background-color: #f5ebe0;
  font-size: 25px;
  grid-area: p;
  text-align: center;
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-right: 80px;
  align-self: center;
  display: flex;
}

.videoMicaela {
  grid-area: videoMicaela;
  align-items: center;
  padding: 40px 0 80px 30px;
  display: flex;
  justify-content: center;
}

.sobreMiDescripcion .videoMicaela {
  align-items: baseline;
}

.videoMicaela .foto {
  width: 100%;
  height: auto;
  justify-self: center;
}

#footerAboutMe {
  background-color: #f5ebe0;
  color: black;
}

/* Contact */
.container {
  width: 45%;
  height: auto;
  padding-bottom: 30px;
}
.container label {
  color: #f5ebe0;
}

h2 {
  text-align: center;
  padding-top: 25px;
  background-color: #3D4F43;
  color: #f5ebe0;
}

.sectionInstagram a {
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
  color: black;
  font-size: 25px;
  padding-bottom: 30px;
  padding-right: 2rem;
  padding-bottom: 3rem;
}
.sectionInstagram img {
  height: 70px;
  width: auto;
  bottom: 75px;
  position: fixed;
}

/* Weddings */
.tituloWeddings {
  color: #f5ebe0;
  text-align: center;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.videosWeddings {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #f5ebe0;
  padding: 4rem 4rem 2rem 4rem;
}
.videosWeddings .video {
  transition: opacity 0.3s ease;
  opacity: 1;
  padding-bottom: 3rem;
}
.videosWeddings .video:hover {
  opacity: 0.6;
}
.videosWeddings .video iframe {
  width: 560px;
  height: 315px;
}

/* Backstage */
.otrosTrabajos {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.otrosTrabajos h1 {
  color: #f5ebe0;
  text-align: center;
}

.videosBack {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #f5ebe0;
  padding: 4rem 4rem 2rem 4rem;
}
.videosBack .video {
  transition: opacity 0.3s ease;
  opacity: 1;
  padding-bottom: 5rem;
}
.videosBack .video:hover {
  opacity: 0.6;
}
.videosBack .video iframe {
  width: 560px;
  height: 315px;
}

/*Estilos especificos para tablet*/
@media screen and (max-width: 1024px) {
  .sobreMi {
    grid-template-areas: "h1" "videoMicaela" "p";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .sobreMi .sobreMiDescripcion {
    margin-left: 8%;
    margin-bottom: 1rem;
  }
  .videoMicaela {
    padding-right: 30px;
  }
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  #pie {
    padding-top: 2rem;
  }
  .videosWeddings {
    flex-direction: column;
    align-items: center;
  }
  .videosWeddings .video {
    max-width: 100%;
  }
  .videosWeddings iframe {
    width: 100%;
    height: auto;
  }
}
/* Estilos especificos para mobile  */
@media screen and (max-width: 480px) {
  .sobreMi {
    grid-template-areas: "h1" "videoMicaela" "p";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    overflow: hidden;
  }
  .sobreMi .sobreMiTitulo {
    text-align: center;
  }
  .videoMicaela {
    padding-right: 30px;
  }
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  .videosWeddings {
    flex-direction: column;
    align-items: center;
  }
  .videosWeddings .video {
    max-width: 100%;
  }
  .videosWeddings iframe {
    width: 100%;
    height: auto;
  }
  .videosBack {
    flex-direction: column;
    align-items: center;
  }
  .videosBack .video {
    max-width: 100%;
  }
  .videosBack iframe {
    width: 100%;
    height: auto;
  }
}
/* estilos de menu */
.bg-crema {
  background-color: #f5ebe0;
}

.Menu-boot ul li a:hover {
  background-color: #627a6a;
}

/*# sourceMappingURL=style.css.map */
